.game-buy__price {
    font-family: "Inter", "Times", "serif";
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    margin: 7.5px auto 7.5px 0;
    color: #a0a0a0;
}

.game-buy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-buy__button{
    margin: 0;
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    text-overflow: clip;
    max-width: 280px;
    font-family: "Inter", "Times", "serif";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}