@import "../../scss/_vars";

.cart-block {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-block__total-price {
    @include font_M;
    margin-left: 15px;
}

.cart-block__icon {
    cursor: pointer;
    position: relative;
}

.white {
    color: white;
}