.button {
  height: 32px;
  width: 100px;
  border-radius: 3px;
  text-align: center;
  margin-right: 0;
  padding: 0;
  border: none;
  cursor: pointer;

  font-family: "Inter", "Times", "serif";
  font-style: normal;
  font-weight: inherit;
  font-size: 14px;
  line-height: 17px;
}

.button .active {
  font-weight: 700;
  font-size: 20px;
}

.button:not(:last-child) {
  margin-right: 10px;
}

.button:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.button__isActive_false {
  opacity: 0.5;
  cursor: unset;
}

.button__isActive_false:hover {
  box-shadow: none;
}