@import "../../scss/_vars";

.error404 {
  text-align: center;
}

.error404__title {
  margin: 100px auto 0 auto;
  @include font_XXL;

  @include respond(large) {
    
   }
  @include respond(medium) {

   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    margin-bottom: 10px;
    @include XL;
   }
}

.error404__subtitle {
  margin-top: 0;
  text-align: center;
  @include font_M_bold;

  @include respond(large) {

   }
  @include respond(medium) {

   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    @include font_S;
   }
}

.error404__return {
  margin-top: 184px;
  color: #2be080;
  @include font_M;

  @include respond(large) {

   }
  @include respond(medium) {

   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    margin-top: 284px;
    margin-bottom: 30px;
    @include font_S;
   }
}

