@import "../../scss/_vars";

.aboutProjectDetails {
  display: flex;
  flex-direction: column;
  margin-bottom: 110px;
  width: 1140px;

  height: fit-content;
  margin-bottom: 80px;
}

@media (max-width: 1279px) {
  .aboutProjectDetails {
    width: auto;
  }
}

@media (max-width: 768px) {
  .aboutProjectDetails {
    margin-bottom: 40px;
  }
}

.aboutProjectDetails_title {
  width: 550px;
  height: auto;
  margin-bottom: 26px;
  margin-top: 0;
  @include font_ML;
}

@media (max-width: 1279px) {
  .aboutProjectDetails_title {
    width: calc((95vw - 115px) / 2);
    height: auto;
  }
}
@media (max-width: 440px) {
  .aboutProjectDetails_title {
    width: calc(100vw - 100px);
    height: auto;
  }
}

@media (max-width: 320px) {
  .aboutProjectDetails_title {
    width: calc(100vw - 36px);
  }
}

.aboutProjectDetails_text {
  width: 550px;
  height: auto;
  margin: 0;
  padding: 0;
  @include font_M;
}

@media (max-width: 1279px) {
  .aboutProjectDetails_text {
    width: calc((95vw - 115px) / 2);
    min-height: 54px;
    max-height: 140px;
  }
}

@media (max-width: 440px) {
  .aboutProjectDetails_text {
    width: calc(100vw - 100px);
    min-height: 48px;
    @include font_XS;
  }
}

@media (max-width: 320px) {
  .aboutProjectDetails_text {
    width: calc(100vw - 36px);
  }
}