@import "../../scss/_vars";

.aboutProjectDetails {
  display: flex;
  flex-direction: column;
  width: 1140px;
  height: fit-content;
  margin-bottom: 80px;

  @include respond(large) {
    width: auto;
   }
  @include respond(medium) {
    margin-bottom: 40px;
   }
  @include respond(small) {

   }
  @include respond(xsmall) {

   }
}

.aboutProjectDetails_title {
  width: 550px;
  height: auto;
  margin-bottom: 26px;
  margin-top: 0;
  @include font_ML;

  @include respond(large) {
    width: calc((95vw - 115px) / 2);
    height: auto;
   }
  @include respond(medium) {

   }
  @include respond(small) {
    width: calc(100vw - 100px);
    height: auto;
   }
  @include respond(xsmall) {
    width: calc(100vw - 36px);
   }
}

.aboutProjectDetails_text {
  width: 550px;
  height: auto;
  margin: 0;
  padding: 0;
  @include font_M;

  @include respond(large) {
    width: calc((95vw - 115px) / 2);
    min-height: 54px;
    max-height: 140px;
   }
  @include respond(medium) {

   }
  @include respond(small) {
    width: calc(100vw - 100px);
    min-height: 48px;
    @include font_XS;
   }
  @include respond(xsmall) {
    width: calc(100vw - 36px);
   }
}
