@import "../../scss/_vars";

.aboutProjectData {
  display: flex;
  max-width: 1140px;
  height: 38px;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  @include font_M_bold;

  @include respond(large) {
    width: calc(100vw - 100px);
   }
  @include respond(small) {
    margin-top: 7px;
    height: 32px;
   }
   @include respond(xsmall) {
    width: calc(100vw - 36px);
  }
}

.aboutProjectData__side_left-wrapper {
  width: calc((100vw - 140px) * 0.2);
  height: 32px;
  background-color: $color_green;
  @include respond(large) {
    width: calc((100vw - 100px) * 0.2);
   }
  @include respond(medium) {
    width: calc((100vw - 60px) * 0.2);
   }
  @include respond(small) {
    width: calc((100vw - 36px) * 0.4);
   }
}

.aboutProjectData__side_right-wrapper {
  width: calc((100vw - 140px) * 0.8);
  height: 32px;
  background-color: $color_light_grey;
  @include respond(large) {
    width: calc((100vw - 100px) * 0.8);
   }
  @include respond(medium) {
    width: calc((100vw - 60px) * 0.8);
   }
  @include respond(small) {
    width: calc((100vw - 36px) * 0.8);
   }
}


.aboutProjectData__content {
  width: 200px;
  height: 18px;
  margin: 9px auto 0 auto;
  text-align: center;
  @include respond(large) {
    width: auto;
    font-size: 11px;
   }
}
