.portfolioLink__linkblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  margin: 20px auto 19px 0;
}

.portfolioLink__subtitle {
  font-family: "Inter", "Times", "serif";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;
  height: auto;
  max-width: 880px;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
}
@media (max-width: 768px) {
  .portfolioLink__subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
  }
}
.portfolioLink__arrow {
  margin: auto 0;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}