@import '../../scss/_vars';

.header {
  margin: 0 auto;
  padding: 18px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $color_grey;
  max-width: 1140px;
  height: 74px;
  font-weight: 500;

  @include respond(large) {

   }
  @include respond(medium) {
    padding: 18px 30px;
   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    padding: 18px 14px;
   }
}

.header__logo {
  margin: 0;
  height: 38px;
}

.header__left{
  background-color: transparent;
  height: 38px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  }

  .header__right{
    background-color: transparent;
    height: 38px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    }

.header__lang{
  @include font_ML;
  margin: 0 10px;
  background-color: transparent;
  width: auto;
}

@media (max-width: 350px) {
  .header__lang {
    margin: 0;
  }
}

.header__nav {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include respond(large) {

   }
  @include respond(medium) {

   }
  @include respond(small) {
    flex-direction: column;
   }
  @include respond(xsmall) {

   }
}


@media (max-width: $breakpoint-tablet) {
  .header__link_light {
    display: none;
  }
}


.header__burger {
  display: none;

  @include respond(large) {

   }
  @include respond(medium) {
    display: block;
    margin-left: 5px;
   }
  @include respond(small) {

   }
  @include respond(xsmall) {

   }
}

.header__linkToMovies {
  @include font_M;
  color: black;
  margin-left: 10px;
}

.header__linkToMoviesActive {
  font-weight: 500;
}

.header__link {
  text-decoration: none;
}

.header__active {
  font-weight: 700;
}
