.header {
  margin: 0 auto;
  padding: 18px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #5c5c5c;
  max-width: 1140px;
  height: 74px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}
@media (max-width: 320px) {
  .header {
    padding: 18px 14px;
  }
}

.header__logo {
  margin: 0;
  height: 38px;
}

.header__left {
  background-color: transparent;
  height: 38px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__right {
  background-color: transparent;
  height: 38px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__lang {
  font-family: "Inter", "Times", "serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0 10px;
  background-color: transparent;
  width: auto;
}

@media (max-width: 350px) {
  .header__lang {
    margin: 0;
  }
}
.header__nav {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 440px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 768px) {
  .header__link_light {
    display: none;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    margin-left: 5px;
  }
}
.header__linkToMovies {
  font-family: "Inter", "Times", "serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: black;
  margin-left: 10px;
}

.header__linkToMoviesActive {
  font-weight: 500;
}

.header__link {
  text-decoration: none;
}

.header__active {
  font-weight: 700;
}