@import '../../scss/_vars';

.header {
  margin: 0 auto;
  padding: 18px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $color_grey;
  max-width: 1140px;
  height: 74px;

  font-weight: 500;
}

@media (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media (max-width: 320px) {
  .header {
    padding: 18px 14px;
  }
}

.header__logo {
  margin: 0;
  height: 38px;
}

.header__left{
  background-color: transparent;
  height: 38px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  }

.header__lang{
  @include font_ML;
  margin: 0 0 0 10px;
  background-color: transparent;
  width: auto;
}

.header__nav {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header__link_light {
    display: none;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
}

.header__cart {
  margin: 2px 0 10px 25px;
}

.header__linkToMovies {
  @include font_M;
  color: black;
  margin-left: 10px;
}

.header__linkToMoviesActive {
  font-weight: 500;
}

.header__link {
  text-decoration: none;
}

.header__active {
  font-weight: 700;
}
