.aboutProject {
  margin: 70px auto 100px auto;
  width: calc(100vw - 140px);
  max-width: 1140px;
}
@media (max-width: 1279px) {
  .aboutProject {
    padding: 0 50px;
    width: calc(100vw - 100px);
    max-width: 1180px;
  }
}
@media (max-width: 440px) {
  .aboutProject {
    margin: 60px auto 60px auto;
    padding: 0;
  }
}
@media (max-width: 320px) {
  .aboutProject {
    width: calc(100vw - 36px);
  }
}

.aboutProject__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 440px) {
  .aboutProject__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}