@import '../../scss/_vars';

.footer {
  background: #fafafa;
  padding: 79px 70px 20px 70px;
  max-height: 172px;
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1140px;

  @include respond(large) {

   }
  @include respond(medium) {
    padding: 50px 30px 0 30px;
    margin-top: 47px;

   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    background: white;
    padding: 30px 10px 20px 10px;
    margin-top: 47px;
   }
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(large) {

   }
  @include respond(medium) {

   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    flex-direction: column-reverse;
   }
}

.footer__title {
  margin-bottom: 20px;
  text-align: center;
  color: $color_med_grey;
  @include font_S;

  @include respond(large) {

   }
  @include respond(medium) {

   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    @include font_XS;
   }
}

.footer__copyright {
  @include font_S;
  color: #000000;
  margin-top: 18px;
}

@media (max-width: $mediaMaxWidth320) {
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55px;
    align-content: space-between;
    margin-top: 30px;
  }
}

.footer__link {
  text-decoration: none;
  margin: 0 0 auto 20px;
  text-align: right;
  color: #000000;
  @include font_S;

  @include respond(large) {

   }
  @include respond(medium) {

   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    margin-left: 0;
   }
}
