@import "../../scss/_vars";

.techs {
  background: rgba(245, 245, 245, 1);
  margin: 0 auto;
  max-width: 1280px;
  padding: 90px 0 100px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  @include respond(large) {
    padding: 80px 60px 90px 60px;
   }
  @include respond(medium) {
    padding: 80px 30px 90px 30px;
   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    padding: 60px 18px 60px 18px;
   }
}

.techs__title {
  min-height: 58px;
  height: auto;
  max-width: 600px;
  margin: 0 auto 26px auto;
  @include font_L;

  @include respond(large) {

   }
  @include respond(medium) {

   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    margin-bottom: 0px;
    text-align: center;
    @include font_MLL;

   }
}

.techs__text {
  height: 40px;
  max-width: 460px;
  margin: 0 auto 100px auto;
  text-align: center;
  @include font_M;

  @include respond(large) {
    margin-bottom: 80px;
   }
  @include respond(medium) {

   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    margin-bottom: 40px;
    @include font_XS;

   }
}

.techs__tech-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @include respond(large) {

   }
  @include respond(medium) {

   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    width: 200px;
   }
}

