.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 66px auto 100px auto;
  max-width: 1140px;
}
@media (max-width: 1279px) {
  .aboutMe {
    margin: 66px 50px 85px 50px;
  }
}
@media (max-width: 768px) {
  .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 66px 50px 55px 50px;
  }
}
@media (max-width: 320px) {
  .aboutMe {
    margin: 66px 14px 60px 14px;
  }
}

.aboutMe__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  margin-right: 50px;
}
@media (max-width: 768px) {
  .aboutMe__left {
    width: calc(96vw - 100px);
  }
}
@media (max-width: 320px) {
  .aboutMe__left {
    width: calc(100vw - 28px);
    margin-right: auto;
  }
}

.aboutMe__title {
  margin: 0 0 18px 0;
  font-family: "Inter", "Times", "serif";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}
@media (max-width: 768px) {
  .aboutMe__title {
    margin: 0 0 16px 0;
    font-family: "Inter", "Times", "serif";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.04em;
  }
}
@media (max-width: 320px) {
  .aboutMe__title {
    margin: 30px 0 20px 0;
  }
}

.aboutMe__subtitle {
  margin: 0 0 26px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  font-weight: 500;
}
@media (max-width: 768px) {
  .aboutMe__subtitle {
    margin: 0 0 20px 0;
  }
}

.aboutMe__text {
  margin: 0 0 80px 0;
  font-family: "Inter", "Times", "serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 768px) {
  .aboutMe__text {
    margin: 0 0 40px 0;
    font-family: "Inter", "Times", "serif";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
}
@media (max-width: 320px) {
  .aboutMe__text {
    margin: 0 0 40px 0;
    font-family: "Inter", "Times", "serif";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
  }
}

.aboutMe__gitlink {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  font-family: "Inter", "Times", "serif";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.aboutMe__foto {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  height: 327px;
  width: 270px;
}
@media (max-width: 768px) {
  .aboutMe__foto {
    width: calc(96vw - 80px);
    height: auto;
  }
}
@media (max-width: 320px) {
  .aboutMe__foto {
    width: calc(100vw - 36px);
    height: 352px;
  }
}