@import "../../scss/_vars";

.aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 66px auto 100px auto;
  max-width: 1140px;

  @include respond(large) {
    margin: 66px 50px 85px 50px;
   }
  @include respond(medium) {
    flex-direction: column-reverse;
    margin: 66px 50px 55px 50px;
   }
  @include respond(xsmall) {
    margin: 66px 14px 60px 14px;
   }
}

.aboutMe__left {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-right: 50px;
  @include respond(medium) {
    width: calc(96vw - 100px);
   }
  @include respond(xsmall) {
    width: calc(100vw - 28px);
    margin-right: auto;
   }
}

.aboutMe__title {
  margin: 0 0 18px 0;
  @include font_L;
  @include respond(medium) {
    margin: 0 0 16px 0;
    @include font_MLL;
   }
  @include respond(xsmall) {
    margin: 30px 0 20px 0;
   }
}

.aboutMe__subtitle {
  margin: 0 0 26px 0;
  @include font_SML;
  font-weight: 500;
  @include respond(medium) {
    margin: 0 0 20px 0;
   }
}

.aboutMe__text {
  margin: 0 0 80px 0;
  @include font_M;

  @include respond(large) {

   }
  @include respond(medium) {
    margin: 0 0 40px 0;
    @include font_S;
   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    margin: 0 0 40px 0;
    @include font_XS;
   }
}


.aboutMe__gitlink {
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  @include font_XS_bold;
}

.aboutMe__foto {
  object-fit: cover;
  border-radius: 10px;
  height: 327px;
  width: 270px;

  @include respond(large) {

   }
  @include respond(medium) {
    width: calc(96vw - 80px);
    height: auto;
   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    width: calc(100vw - 36px);
    height: 352px;
   }
}

