@import '../../scss/_vars';

.navTab {
  padding: 110px 70px 0 70px;
  margin: 0 auto;
  max-width: 1140px;

  @include respond(large) {
    padding: 90px 50px 0 50px;
    width: auto;
    max-width: 1180px;
   }
  @include respond(medium) {

   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    padding: 90px 18px 0 18px;
    width: auto;
    max-width: 1040px;
   }
}

.navTab__title {
  @include font_SL;
  color: #000000;
  margin: 0 0 23px 0;
  height: 27px;
  width: 70vw;

  @include respond(large) {

   }
  @include respond(medium) {

   }
  @include respond(small) {

   }
  @include respond(xsmall) {
    @include font_SML;
   }
}

