.navTab {
  padding: 110px 0 0 0;
  margin: 0 auto;
  max-width: 1140px;
}

@media (max-width: 1280px) {
  .navTab {
    padding: 90px 50px 0 50px;
    width: auto;
    max-width: 1040px;
  }
}

@media (max-width: 320px) {
  .navTab {
    padding: 70px 12px 0 12px;
    width: auto;
  }
}

.navTab__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;

  color: #000000;
  margin: 0 0 23px 0;
  height: 27px;
  width: 70vw;
}

@media (max-width: 320px) {
  .navTab__title {

    font-family: "Inter", "Times", "serif";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
  }
}
